<div class="row">
  <div class="col">
    <h1 class="display-2">Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Plan</th>
          <th scope="col">Currency</th>
          <th scope="col">Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.plan }}</td>
          <td>{{ user.currency }}</td>
          <td>{{ user.role }}</td>
          <td><button mat-raised-button color="primary" (click)="onChangePlan(user.userId)">Change Plan</button></td>
          <td><button mat-raised-button color="primary" (click)="onDeleteClick(user.userId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
