<h1 class="display-2">Register</h1>
<form (submit)="submit(userForm)" #userForm="ngForm">
  <table>
    <tr>
      <td><h3>Enter a username: </h3></td>
      <td><mat-form-field>
        <input matInput
           type="text"
           name="username"
           [(ngModel)]="model.username"
           required #username="ngModel">
        </mat-form-field></td>
    </tr>
    <tr>
      <td><h3>Enter a password</h3></td>
      <td><mat-form-field>
          <input matInput
           type="text"
           name="password"
           [(ngModel)]="model.password"
           required
           #password="ngModel">
      </mat-form-field></td>
    </tr>
    <tr>
      <td><h3>Choose your plan</h3></td>
      <td>
        <select name="plan" [(ngModel)]="model.plan" required>
          <option value="regular">Regular</option>
          <option value="premium">Premium</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><h3>Choose your currency</h3></td>
      <td>
        <select name="currency" [(ngModel)]="model.currency" required>
          <option value="Ft">Ft</option>
          <option value="USD">USD</option>
        </select>
      </td>
    </tr>
  </table>

  <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid">Register</button>
</form>
