<h1 class="display-2">Register regular transaction</h1>

<form (submit)="submit(regularTransactionForm)" #regularTransactionForm="ngForm">
  <div class="form-group">
    <h3>What kind of transaction would you like to register?</h3>
    <input type="radio"
           name="spending"
           [(ngModel)]="spending"
           value="true">
    Spending<br />
    <input type="radio"
           name="spending"
           [(ngModel)]="spending"
           value="false">
    Income
  </div>

  <div class="form-group">
    <h3>Enter amount of regular transaction</h3>
    <mat-form-field>
      <input matInput
             type="text"
             name="amount"
             [(ngModel)]="model.amount"
             required
             #amount="ngModel">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <h3>Enter any notes regarding this regular transaction</h3>
      <textarea matInput
                name="note"
                [(ngModel)]="model.note"
                aria-describedby="descriptionHelp">
        </textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit" color="primary">Register</button>
