<h1>User Profile</h1>
<table class="table">
  <tbody>
    <tr>
      <td>Username</td>
      <td>{{ authService.user.username }}</td>
    </tr>
    <tr>
      <td>CURRENCY</td>
      <td>{{ authService.user.currency }}</td>
    </tr>
    <tr>
      <td>PLAN</td>
      <td>{{ authService.user.plan }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="authService.isPremium">
  <h2>Regular Transactions</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let regularTransaction of regularTransactions">
        <td>{{ regularTransaction.amount }}</td>
        <td><a [routerLink]="['/regularTransactions', regularTransaction.id]">Details</a></td>
      </tr>
    </tbody>
  </table>
  <button mat-button routerLink="/createRegularTransaction">New</button>
</div>

